<!--
  - BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
  -
  - BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
  -
  - Copyright 2014-2020. A Different Kind, LLC
  -
  - Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
  - LICENSE: GNU General Public License v3.0
  -
  - Last Modified: 1/21/20, 3:12 AM
  -->

<template>
    <card :classes="'text-center'" :use-body="true">
        <div class="avatar bg-rgba-warning p-50 m-0 mb-1">
            <div class="avatar-content">
                <i class="fa fa-flag text-warning font-medium-5"></i>
            </div>
        </div>
        <h2 class="text-bold-700">
            {{ report.avg_daily | formatnumber }}
        </h2>
        <p class="mb-0 line-ellipsis">Avg Daily Reports</p>
    </card>
</template>

<script>
    export default {
        name: "AverageDailyReportsStat",
        data() {
            return {
                report: {
                    avg_daily: 0
                }
            }
        },
        mounted() {
            this.getDailyReportAvg();
        },
        methods: {
            getDailyReportAvg: function () {
                axios.get('/api/dashboard/reports/avg').then(response => {
                    this.report.avg_daily = response.data.data.avg_daily;
                }).catch(error => {
                    setTimeout(this.getDailyReportAvg, this.randomIntFromInterval(1, 60) * 1000);
                });
            }
        }
    }
</script>
