<!--
  - BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
  -
  - BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
  -
  - Copyright 2014-2020. A Different Kind, LLC
  -
  - Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
  - LICENSE: GNU General Public License v3.0
  -
  - Last Modified: 1/18/20, 6:24 AM
  -->

<template>
    <card :use-body="false" :use-header="true">
        <template v-slot:cardtitle>Latest Bans</template>
        <div class="table-responsive mt-1">
            <table class="table table-dark mb-0">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Game</th>
                    <th>Server</th>
                    <th>Issued</th>
                    <th>Expires</th>
                </tr>
                </thead>

                <tbody>
                <tr :key="ban.ban_id" v-for="ban in bans">
                    <td>
                        <a data-toggle="tooltip" v-bind:data-original-title="ban.record.record_message"
                           v-bind:href="ban.player.profile_url">
                            {{ ban.player.SoldierName }}
                        </a>
                    </td>
                    <td><span v-bind:class="ban.player.game.class_css">{{ ban.player.game.Name }}</span></td>
                    <td>{{ ban.record.server.ServerName }}</td>
                    <td>
                            <span class="badge badge-pill badge-info" data-toggle="tooltip"
                                  v-bind:data-original-title="moment(ban.ban_issued).format('LLL')">
                                {{ moment(ban.ban_issued).fromNow() }}
                            </span>
                    </td>
                    <td>
                            <span class="badge badge-pill" data-toggle="tooltip"
                                  v-bind:class="ban.color_class.backend.badge"
                                  v-bind:data-original-title="moment(ban.ban_expires).format('LLL')">
                                <span v-if="ban.is_perm">Perm</span>
                                <span v-else>
                                    {{ moment(ban.ban_expires).fromNow() }}
                                </span>
                            </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </card>
</template>

<script>
    export default {
        name: "LatestBans",
        data() {
            return {
                bans: null,
                timer: null
            }
        },
        mounted() {
            this.latestBans();
            this.timer = setInterval(this.latestBans, 60 * 1000); // Refresh every minute
        },
        updated() {
            $('[data-toggle="tooltip"]').tooltip({
                container: "body"
            });
        },
        methods: {
            latestBans: function () {
                axios.get('/api/adkats/ban/latest', {
                    params: {
                        limit: 10
                    }
                }).then(response => {
                    this.bans = response.data.data;
                }).catch(error => {
                    setTimeout(this.latestBans, this.randomIntFromInterval(1, 60) * 1000);
                });
            }
        }
    }
</script>
