/*!
 * BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
 *
 * BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
 *
 * Copyright 2014-2019. A Different Kind, LLC
 *
 * Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
 * LICENSE: GNU General Public License v3.0
 *
 * Last Modified: 12/31/19, 8:56 PM
 */

// ===============================================================================================
//  File Name: faq.scss
//  Description: FAQ Page Content SCSS
//  ----------------------------------------------------------------------------------------------
//  Item name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
//  Author: PIXINVENT
//  Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================

@import "../bootstrap/functions";
@import "../bootstrap/mixins";
@import "../bootstrap-extended/mixins";

// Core variables and mixins overrides
@import "../core/variables/variables";
@import "../bootstrap/variables";

@import "../core/variables/components-variables";


// FAQ jumbotron scss
.faq-bg {
  background: url(../../images/pages/faq.jpg) no-repeat;
  background-size: cover;

  .form-control {
    &:focus {
      // after focus search icon color
      ~ .form-control-position {
        i {
          color: $primary;
        }
      }
    }
  }
}

.faq {
  //faq sidebar scss
  .faq-content {
    .faq-table-content {
      cursor: pointer;
      padding: 0.5rem;
      font-weight: $headings-font-weight;

      i {
        margin-right: 0.5rem;
      }
    }
  }

  //supporter details
  .supporter-details {
    .supporter-img {
      img {
        width: 35px;
        height: 35px;
        margin-right: 0.5rem;
        cursor: pointer;
      }
    }
  }

  //supporter info
  .supporter-info {
    vertical-align: middle;
  }

  // faq Accordion font-weight
  .accordion {
    .collapse-title {
      font-weight: $headings-font-weight;
      color: $headings-color;
    }

    .collapse-margin {
      background-color: $white;
    }
  }

}

// make jumbotron card body padding
@media only screen and (min-width: 992px) {
  .faq-bg {
    .card-body {
      padding: 8rem !important;
    }
  }
}

// make jumbotron card body padding
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .faq-bg {
    .card-body {
      padding: 6rem !important;
    }
  }
}
