/*!
 * BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
 *
 * BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
 *
 * Copyright 2014-2019. A Different Kind, LLC
 *
 * Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
 * LICENSE: GNU General Public License v3.0
 *
 * Last Modified: 12/31/19, 8:56 PM
 */

// Apex chart Scss

.apexcharts-canvas{
  // Tooltip Color
  .apexcharts-tooltip{
    color: $body-color !important;
    &.dark{
      color: $white !important;
    }
  }
  // Toolbar Download Option Color
  .apexcharts-toolbar{
    .apexcharts-menu{
      .apexcharts-menu-item{
        color: $body-color;
      }
    }
  }
}

// apex charts tooltip
.apexcharts-xaxistooltip{
  color: $body-color !important;
}

// client-retention Chart - legend position for left
#client-retention-chart {
  .apexcharts-canvas {
    .apexcharts-legend {
      left: -14px !important;
    }
  }
}

// Toolbar Z-index
.apexcharts-toolbar {
  z-index: 10 !important;
}
