/*!
 * BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
 *
 * BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
 *
 * Copyright 2014-2019. A Different Kind, LLC
 *
 * Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
 * LICENSE: GNU General Public License v3.0
 *
 * Last Modified: 10/4/19, 6:06 AM
 */

// Chips

// chip styles
.chip{
  background-color: $chip-bg-color;
  font-size: $chip-font-size;
  border-radius: $chip-border-radius;
  display: inline-flex;
  padding:0 10px;
  margin-bottom: 5px;
  vertical-align: middle;
  justify-content: center;

  // chip body customization

  .chip-body{
    color: rgba($pure-black, .7);
    display: flex;
    justify-content: space-between;
    min-height: $chip-min-height;
    min-width: $chip-min-width;
    .avatar{
      background-color: $chip-avatar-bg;
      display: flex;
      width: $avatar-size-sm;
      height: $avatar-size-sm;
      margin: 2px 0;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      color: $white;
      transform: translate(-8px);
      .avatar-content{
          top: 0;
      }

      // chip image
      img{
        border-radius: 50%;
        height: $avatar-size-sm;
        width: $avatar-size-sm;
      }
    }
    // chip text
    .chip-text{
      vertical-align: middle;
      align-self: center;
    }

    // chip closeable
    .chip-closeable{
      min-height: $chip-closeable-min-height;
      min-width: $chip-closeable-min-width;
      margin: 0 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      border-radius: 50%;
      background: rgba($pure-black, .15);
      color: $white;
      transform: translate(10px);
      cursor: pointer;
      i{
        margin-left: 1px;
        margin-top: 1px;
      }
    }
  }
}

// IE Specific

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
  .chip {
    .chip-closeable{
      i{
        position: relative;
        top: 3px;
      }
    }
  }
}
