/*!
 * BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
 *
 * BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
 *
 * Copyright 2014-2019. A Different Kind, LLC
 *
 * Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
 * LICENSE: GNU General Public License v3.0
 *
 * Last Modified: 12/31/19, 8:57 PM
 */

/**
 * Styles shared by multiple animations
 */
@import 'variables';
@import 'mixins';
@import 'custom';

/**
 * Dots
 */
@import 'animations/ball-pulse';
@import 'animations/ball-pulse-sync';
@import 'animations/ball-scale';
@import 'animations/ball-scale-random';
@import 'animations/ball-rotate';
@import 'animations/ball-clip-rotate';
@import 'animations/ball-clip-rotate-pulse';
@import 'animations/ball-clip-rotate-multiple';
@import 'animations/ball-scale-ripple';
@import 'animations/ball-scale-ripple-multiple';
@import 'animations/ball-beat';
@import 'animations/ball-scale-multiple';
@import 'animations/ball-triangle-trace';
@import 'animations/ball-pulse-rise';
@import 'animations/ball-grid-beat';
@import 'animations/ball-grid-pulse';
@import 'animations/ball-spin-fade-loader';
@import 'animations/ball-spin-loader';
@import 'animations/ball-zig-zag';
@import 'animations/ball-zig-zag-deflect';

/**
 * Lines
 */
@import 'animations/line-scale';
@import 'animations/line-scale-random';
@import 'animations/line-scale-pulse-out';
@import 'animations/line-scale-pulse-out-rapid';
@import 'animations/line-spin-fade-loader';

/**
 * Misc
 */
@import 'animations/triangle-skew-spin';
@import 'animations/square-spin';
@import 'animations/pacman';
@import 'animations/cube-transition';
@import 'animations/semi-circle-spin';


.loader-wrapper {
  position: relative;
}

.loader-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#preloader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
}

#preloader-wrapper .loader-section {
  position: fixed;
  width: 100%;
  height: 51%;
  background: #222222;
  z-index: 1050;
}

#preloader-wrapper .loader-section.section-top {
  top: 0;
}

#preloader-wrapper .loader-section.section-bottom {
  bottom: 0;
}

#loader {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  // margin: -75px 0 0 -75px;
  z-index: 1051; /* anything higher than z-index: 1000 of .loader-section */
}

/* Loaded */
.loaded #preloader-wrapper .loader-section.section-top {
  -webkit-transform: translateY(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%); /* IE 9 */
  transform: translateY(-100%); /* Firefox 16+, IE 10+, Opera */
}

.loaded #preloader-wrapper .loader-section.section-bottom {
  -webkit-transform: translateY(100%); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(100%); /* IE 9 */
  transform: translateY(100%); /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
  opacity: 0;

}

.loaded #preloader-wrapper {
  visibility: hidden;
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #preloader-wrapper .loader-section.section-bottom,
.loaded #preloader-wrapper .loader-section.section-top {

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}