/*!
 * BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
 *
 * BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
 *
 * Copyright 2014-2019. A Different Kind, LLC
 *
 * Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
 * LICENSE: GNU General Public License v3.0
 *
 * Last Modified: 10/4/19, 6:06 AM
 */

// tags

@mixin badge-variant($color) {
  background-color: $color;
  &.badge-glow{
    box-shadow: 0px 0px 10px $color;
  }
  &[href] {
    @include hover-focus {
      background-color: darken($color, 10%);
    }
  }
}