/*!
 * BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
 *
 * BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
 *
 * Copyright 2014-2019. A Different Kind, LLC
 *
 * Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
 * LICENSE: GNU General Public License v3.0
 *
 * Last Modified: 12/31/19, 8:57 PM
 */

// For Drag And Drop

// for pointer on hover

#draggable-cards {
  .card {
    cursor: grab;
  }
}

#basic-list-group, #multiple-list-group-a, #multiple-list-group-b {
  .list-group-item {
    cursor: grab;
  }
}

#clone-lists {
  .chip {
    cursor: grab;
  }
}

// For Multi List

#multiple-list-group-a, #multiple-list-group-b {
  min-height: 5.714rem;
}


// For Handle
#dd-with-handle {
  .list-group {
    min-height: 5.714rem;

    .handle {
      padding: 0 5px;
      margin-right: 5px;
      background-color: rgba(0, 0, 0, 0.1);
      cursor: move;
      font-size: 1.2rem;
    }
  }
}

