/*!
 * BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
 *
 * BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
 *
 * Copyright 2014-2019. A Different Kind, LLC
 *
 * Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
 * LICENSE: GNU General Public License v3.0
 *
 * Last Modified: 10/4/19, 6:06 AM
 */

// Popovers

// popover header color and border-radius
.popover {
  z-index: 10;
  .popover-header {
    color: $white;
    border: none;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }
  &.bs-popover-bottom{
    .arrow:after{
      border-bottom-color: $primary;
    }
  }
}
