/*!
 * BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
 *
 * BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
 *
 * Copyright 2014-2019. A Different Kind, LLC
 *
 * Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
 * LICENSE: GNU General Public License v3.0
 *
 * Last Modified: 12/31/19, 8:57 PM
 */

/* Typeahead Starts */

.typeahead {
  .twitter-typeahead {
    width: 100%;

    .tt-menu {
      width: 100%;
    }

    .empty-message {
      padding: 5px 10px;
      text-align: center;
    }

    .rtl-typeahead {
      .tt-menu {
        text-align: right;
      }
    }

    .league-name {
      margin: 0 10px 5px 10px;
      padding: 7px 5px 10px;
      border-bottom: 1px solid #ccc;
    }
  }

  .scrollable-dropdown {
    .twitter-typeahead {
      .tt-menu {
        max-height: 150px;
        overflow-y: auto;
      }
    }
  }
}

/* Typeahead Ends */

/* MaxLength Starts */

.bootstrap-maxlength {
  margin-top: 0.5rem;
}

/* MaxLength Ends */