<!--
  - BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
  -
  - BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
  -
  - Copyright 2014-2020. A Different Kind, LLC
  -
  - Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
  - LICENSE: GNU General Public License v3.0
  -
  - Last Modified: 1/19/20, 1:13 AM
  -->

<template>
    <div class="card" v-bind:class="classes">
        <div class="card-header" v-if="useHeader">
            <h4 class="mb-0">
                <slot name="cardtitle"></slot>
            </h4>
        </div>
        <div class="card-content">
            <div v-bind:class="{ 'card-body': useBody }">
                <slot></slot>
            </div>
        </div>
        <div class="card-footer" v-if="useFooter">
            <slot name="cardfooter"></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Card",
        props: ['useBody', 'useHeader', 'classes', 'useFooter']
    }
</script>