/*!
 * BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
 *
 * BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
 *
 * Copyright 2014-2019. A Different Kind, LLC
 *
 * Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
 * LICENSE: GNU General Public License v3.0
 *
 * Last Modified: 11/13/19, 5:11 AM
 */

// ================================================================================================
//   File Name: pallette-noui.scss
//   Description: noui color system styles
//   ----------------------------------------------------------------------------------------------
//   Item name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
//   Author: PIXINVENT
//   Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================


@function color-function($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  // @warn "Unknown `#{name}` in $colors.";
  @return null;
}

// Color palettes
@import "palette-variables";

@each $color_name, $color in $colors {
  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
      .slider-#{$color_name}{
        .noUi-connect{
          background: $color_value !important;
        }
        &.noUi-connect{
          background: $color_value !important;
        }
        .noUi-handle{
          border-color: $color_value !important;
        }
        &.circle-filled, &.square{
          .noUi-handle{
            background: $color_value !important;
          }
        }
      }
    }
  }
}