/*!
 * BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
 *
 * BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
 *
 * Copyright 2014-2019. A Different Kind, LLC
 *
 * Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
 * LICENSE: GNU General Public License v3.0
 *
 * Last Modified: 12/31/19, 8:57 PM
 */

// Core variables and mixins
@import "../../../bootstrap/functions";
@import "../../../bootstrap/mixins";

// Core variables and mixins overrides
@import "../../../core/variables/variables";
@import "../../../bootstrap/variables";

// Overrides user variable
@import "../../../core/variables/components-variables";

.form-group {
  // when an issue or error occured
  &.issue, &.error {
    .help-block, .help-inline {
      color: $danger;
    }

    input, select, textarea {
      border-color: $danger;
    }

    input:focus, select:focus, textarea:focus {
      border-color: $danger;
      -webkit-box-shadow: 0 3 10px 0 $danger;
      -moz-box-shadow: 0 3 10px 0 $danger;
      box-shadow: 0 3 10px 0 $danger;
    }
  }


  // Validation Message Scss
  .help-block ul {
    padding-left: 0;

    li {
      list-style-type: none;
      font-size: 0.875rem;
      padding-top: 0.2rem;
    }
  }
}
