<!--
  - BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
  -
  - BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
  -
  - Copyright 2014-2020. A Different Kind, LLC
  -
  - Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
  - LICENSE: GNU General Public License v3.0
  -
  - Last Modified: 1/7/20, 6:01 AM
  -->

<template>
    <section>
        <ul class="nav nav-tabs nav-justified nav-fill">
            <li class="nav-item">
                <a aria-controls="infractions" aria-selected="true"
                   class="nav-link active" data-toggle="tab" href="#infractions" role="tab">
                    Infractions
                    <div class="spinner-grow spinner-grow-sm text-info" role="status" v-if="view.infraction.loading">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <span class="badge badge-pill badge-sm"
                          v-bind:class="[{'badge-danger': view.infraction.infractions.global.total_points > 0}, 'badge-success']"
                          v-if="view.infraction.hasInfractions">
                    {{ view.infraction.infractions.global.total_points }}
                </span>
                </a>
            </li>
            <li class="nav-item">
                <a aria-controls="bans" aria-selected="true"
                   class="nav-link" data-toggle="tab" href="#bans" role="tab">
                    Bans
                    <div class="spinner-grow spinner-grow-sm text-info" role="status" v-if="view.bans.loading">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <span class="badge badge-pill badge-sm" v-bind:class="view.bans.ban.color_class.backend.badge"
                          v-if="view.bans.hasBan">
                    {{ view.bans.ban.ban_status }}
                 </span>
                </a>
            </li>
            <li class="nav-item">
                <a aria-controls="cmdOverview" aria-selected="true" class="nav-link" data-toggle="tab"
                   href="#cmdOverview" role="tab">
                    Command Usage
                    <div class="spinner-grow spinner-grow-sm text-info" role="status" v-if="view.commands.loading">
                        <span class="sr-only">Loading...</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a aria-controls="aliasesTable" aria-selected="false" class="nav-link" data-toggle="tab"
                   href="#aliasesTable" role="tab">
                    Aliases
                    <div class="spinner-grow spinner-grow-sm text-info" role="status" v-if="view.aliases.loading">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <span class="badge badge-pill"
                          v-bind:class="[{'badge-danger': view.aliases.hasAliases }, 'badge-success']"
                          v-if="view.aliases.hasAliases"
                          v-text="view.aliases.aliases.length"/>
                </a>
            </li>
            <li class="nav-item">
                <a aria-controls="linkedAccounts" aria-selected="false" class="nav-link" data-toggle="tab"
                   href="#linkedAccounts" role="tab">
                    Linked Accounts
                    <div class="spinner-grow spinner-grow-sm text-info" role="status" v-if="view.accounts.loading">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <span class="badge badge-pill"
                          v-bind:class="[{'badge-danger': view.accounts.hasAccounts }, 'badge-success']"
                          v-if="view.accounts.hasAccounts"
                          v-text="view.accounts.accounts.length"/></a>
            </li>
        </ul>

        <div class="tab-content">
            <player-infractions/>
            <player-bans/>
            <player-commands-overview/>
            <player-aliases/>
            <player-linked-accounts/>
        </div>
    </section>
</template>

<script>
    import PlayerBans from "./PlayerBans";
    import PlayerInfractions from "./PlayerInfractions";
    import PlayerAliases from "./PlayerAliases";
    import PlayerCommandsOverview from "./PlayerCommandsOverview";
    import PlayerLinkedAccounts from "./PlayerLinkedAccounts";

    export default {
        created() {
            bfacp.$on('UpdateBans', this.updateBans);
            bfacp.$on('UpdateInfractions', this.updateInfractions);
            bfacp.$on('UpdateAccounts', this.updateAccounts);
            bfacp.$on('UpdateAliases', this.updateAliases);
            bfacp.$on('UpdateCommands', this.updateCommands);
        },
        name: "OverviewTabs",
        components: {
            PlayerBans,
            PlayerInfractions,
            PlayerAliases,
            PlayerCommandsOverview,
            PlayerLinkedAccounts
        },
        data() {
            return {
                view: {
                    bans: PlayerBans.data,
                    infraction: PlayerInfractions.data,
                    accounts: PlayerLinkedAccounts.data,
                    aliases: PlayerAliases.data,
                    commands: PlayerCommandsOverview.data
                }
            }
        },
        methods: {
            updateBans(v) {
                this.view.bans = v;
            },
            updateInfractions(v) {
                this.view.infraction = v;
            },
            updateAccounts(v) {
                this.view.accounts = v;
            },
            updateAliases(v) {
                this.view.aliases = v;
            },
            updateCommands(v) {
                this.view.commands = v;
            }
        }
    }
</script>

<style scoped>

</style>