<!--
  - BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
  -
  - BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
  -
  - Copyright 2014-2020. A Different Kind, LLC
  -
  - Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
  - LICENSE: GNU General Public License v3.0
  -
  - Last Modified: 1/17/20, 9:10 AM
  -->

<template>
    <div aria-labelledby="infractions" class="tab-pane active" id="infractions" role="tabpanel">
        <section v-if="!loading">
            <section v-if="!hasInfractions">
                <div class="alert bg-gradient-success" role="alert">
                    <h4>Player Clean</h4>
                    <p>No infractions on file.</p>
                </div>
            </section>

            <section v-else>
                <div class="divider">
                    <div class="divider-text">Global</div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <div class="card text-center bg-gradient-danger">
                            <div class="card-content">
                                <div class="card-body">
                                    <h2 class="text-bold-700">{{ infractions.global.punish_points }}</h2>
                                    <p class="mb-0 line-ellipsis">Punishes</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 hidden-xs mt-1">
                        <div class="card text-center bg-gradient-secondary">
                            <div class="card-content">
                                <div class="card-body">
                                    <h2 class="text-bold-700">&minus;</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-12">
                        <div class="card text-center bg-gradient-success">
                            <div class="card-content">
                                <div class="card-body">
                                    <h2 class="text-bold-700">{{ infractions.global.forgive_points }}</h2>
                                    <p class="mb-0 line-ellipsis">Forgives</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 hidden-xs mt-1">
                        <div class="card text-center bg-gradient-secondary">
                            <div class="card-content">
                                <div class="card-body">
                                    <h2 class="text-bold-700">&equals;</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <div class="card text-center bg-gradient-info">
                            <div class="card-content">
                                <div class="card-body">
                                    <h2 class="text-bold-700">{{ infractions.global.total_points }}</h2>
                                    <p class="mb-0 line-ellipsis">Total</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="divider">
                    <div class="divider-text">Server</div>
                </div>

                <div class="table-responsive">
                    <table class="table table-condensed table-dark" id="serverInfractionsTable">
                        <thead>
                        <tr>
                            <td>Server</td>
                            <td>Punishes</td>
                            <td>Forgives</td>
                            <td>Total</td>
                        </tr>
                        </thead>

                        <tbody>
                        <tr v-for="infraction in infractions.servers">
                            <td>{{ infraction.server.ServerName }}</td>
                            <td>{{ infraction.punish_points }}</td>
                            <td>{{ infraction.forgive_points }}</td>
                            <td>{{ infraction.total_points }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="divider">
                    <div class="divider-text">History</div>
                </div>

                <table class="table table-condensed table-dark" id="infractionsHistoryTable">
                    <thead>
                    <tr>
                        <td>ID</td>
                        <td>Server</td>
                        <td>Action Taken</td>
                        <td>Date</td>
                        <td>Issued By</td>
                        <td>Reason</td>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-for="infraction in infractions.global.history">
                        <td>{{ infraction.record_id }}</td>
                        <td>{{ infraction.server.ServerName }}</td>
                        <td>{{ infraction.action.command_name }}</td>
                        <td data-toggle="tooltip"
                            v-bind:data-original-title="moment(infraction.stamp).format('llll')"
                            v-text="moment(infraction.stamp).fromNow()"/>
                        <td>
                            <a v-bind:href="infraction.source_url">
                                {{ infraction.source_name }}
                            </a>
                        </td>
                        <td>{{ infraction.record_message }}</td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </section>
    </div>
</template>

<script>
    export default {
        name: "PlayerInfractions",
        created() {
            bfacp.$emit('UpdateInfractions', {
                infractions: this.infractions,
                loading: this.loading,
                hasInfractions: this.hasInfractions
            });
        },
        data() {
            return {
                infractions: {
                    global: null,
                    servers: null
                },
                loading: true,
                hasInfractions: false
            }
        },
        mounted() {
            this.getInfractions();
        },
        methods: {
            getInfractions: function () {
                axios.get('/api/auth/player/' + Player.PlayerID + '/infractions')
                    .then(response => {
                        this.infractions.global = response.data.data.infractionsGlobal;
                        this.infractions.servers = response.data.data.infractionsServer;
                        this.loading = false;
                        this.hasInfractions = this.infractions.global !== null;

                        bfacp.$emit('UpdateInfractions', {
                            infractions: this.infractions,
                            loading: this.loading,
                            hasInfractions: this.hasInfractions
                        });

                        $('#infractionsHistoryTable').DataTable({
                            "order": [[0, 'desc']]
                        });
                    }).catch(error => {
                    setTimeout(this.getInfractions, this.randomIntFromInterval(1, 60) * 1000);
                });
            }
        }
    }
</script>

<style scoped>

</style>