<!--
  - BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
  -
  - BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
  -
  - Copyright 2014-2020. A Different Kind, LLC
  -
  - Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
  - LICENSE: GNU General Public License v3.0
  -
  - Last Modified: 1/7/20, 6:01 AM
  -->

<template>

</template>

<script>
    export default {
        name: "PlayerRecords"
    }
</script>

<style scoped>

</style>