<!--
  - BFACP - Battlefield Admin Control Panel - Development by Prophet731 - Version 3.0
  -
  - BFACP was inspired by the gaming community A Different Kind (ADK). Visit http://www.ADKGamers.com/ for more information.
  -
  - Copyright 2014-2020. A Different Kind, LLC
  -
  - Project Source: https://gitlab.com/Prophet731/battlefield-admin-control-panel
  - LICENSE: GNU General Public License v3.0
  -
  - Last Modified: 1/17/20, 9:10 AM
  -->

<template>
    <div aria-labelledby="bans" class="tab-pane" id="bans" role="tabpanel">
        <section v-if="!loading">
            <section v-if="!hasBan">
                <div class="alert bg-gradient-success" role="alert">
                    <h4 class="alert-heading">
                        <i class="fa fa-check-circle"/>
                        No bans on file.
                    </h4>
                </div>

                <div>
                    <button class="btn bg-gradient-success" data-target="#banCreateFormModel" data-toggle="modal"
                            type="button">
                        Create
                    </button>
                    <adkats-create-ban :linkedaccounts="$parent.$data.view.accounts.accounts"
                                       :premessages="meta.premessages"
                                       :servers="meta.servers"></adkats-create-ban>
                </div>
            </section>


            <section v-else-if="hasBan">
                <div class="alert bg-gradient-primary" role="alert"
                     v-if="ban.ban_notes !== 'NoNotes' && ban.ban_notes.length > 0">
                    <h4 class="alert-heading">
                        <i class="fa fa-check-circle"/>
                        Ban Notes
                    </h4>
                    <p v-text="ban.ban_notes"/>
                </div>

                <div class="divider">
                    <div class="divider-text">Current Ban</div>
                </div>

                <div class="table-responsive">
                    <table class="table table-condensed table-dark">
                        <thead>
                        <tr>
                            <td>Server</td>
                            <td>Banned By</td>
                            <td>Status</td>
                            <td>Issued</td>
                            <td v-if="!ban.is_perm">Expires</td>
                            <td>Reason</td>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td v-text="ban.record.server.ServerName"/>
                            <td><a v-bind:href="ban.record.source_url">{{ ban.record.source_name }}</a></td>
                            <td v-bind:class="ban.color_class.backend.text">{{ ban.ban_status}}</td>
                            <td data-toggle="tooltip"
                                v-bind:data-original-title="moment(ban.ban_issued).format('llll')">
                                {{ moment(ban.ban_issued).fromNow() }}
                            </td>
                            <td data-toggle="tooltip"
                                v-bind:data-original-title="moment(ban.ban_expires).format('llll')" v-if="!ban.is_perm">
                                {{ moment(ban.ban_expires).fromNow() }}
                            </td>
                            <td v-text="ban.record.record_message"/>
                        </tr>
                        </tbody>
                    </table>

                    <div class="divider">
                        <div class="divider-text">Actions</div>
                    </div>

                    <div>
                        <button class="btn bg-gradient-success" data-target="#banEditFormModel" data-toggle="modal"
                                type="button">
                            Edit
                        </button>
                        <adkats-edit-ban :ban="ban"
                                         :premessages="meta.premessages"
                                         :servers="meta.servers"></adkats-edit-ban>
                    </div>
                </div>

                <div class="divider">
                    <div class="divider-text">Previous Bans</div>
                </div>

                <div class="table-responsive">
                    <table class="table table-condensed table-dark" id="banPreviousTable" style="width: 100%">
                        <thead>
                        <tr>
                            <td>ID</td>
                            <td>Type</td>
                            <td>Server</td>
                            <td>Banned By</td>
                            <td>Issued</td>
                            <td>Reason</td>
                        </tr>
                        </thead>

                        <tbody>
                        <tr v-for="p in ban.previous">
                            <td v-text="p.record_id"/>
                            <td v-text="p.type.command_name"/>
                            <td v-text="p.server.ServerName"/>
                            <td><a v-bind:href="p.source_url">{{ p.source_name }}</a></td>
                            <td data-toggle="tooltip" v-bind:data-original-title="moment(p.stamp).format('llll')">
                                {{ moment(p.stamp).fromNow() }}
                            </td>
                            <td v-text="p.record_message"/>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </section>
    </div>
</template>

<script>
    import AdkatsCreateBan from "../../adkats/bans/AdkatsCreateBan";

    export default {
        name: "PlayerBans",
        created() {
            bfacp.$emit('UpdateBans', {
                ban: this.ban,
                loading: this.loading,
                hasBan: this.hasBan
            });
        },
        components: {
            AdkatsCreateBan
        },
        data() {
            return {
                ban: null,
                loading: true,
                hasBan: false,
                meta: {
                    servers: [],
                    premessages: [],
                },
                forms: {
                    edit: {
                        show: false,
                        datetime: null,
                        server: null,
                        message: null
                    },
                    create: {
                        show: false
                    }
                }
            }
        },
        beforeMount() {
            this.getBans();
        },
        mounted() {
            $('#banPreviousTable').DataTable({
                "order": [[0, 'desc']]
            });
        },
        methods: {
            createBan: function () {
                $('#banCreateFormModel').modal('show');
            },
            getBans: function () {
                axios.get('/api/auth/player/' + Player.PlayerID + '/bans').then(response => {
                    this.ban = response.data.data.ban;
                    this.hasBan = this.ban !== null;
                    this.loading = false;
                    this.meta.servers = response.data.data.servers;
                    this.meta.premessages = response.data.data.premessages;

                    bfacp.$emit('UpdateBans', {
                        ban: this.ban,
                        loading: this.loading,
                        hasBan: this.hasBan
                    })
                }).catch(error => {
                    setTimeout(this.getBans, this.randomIntFromInterval(1, 60) * 1000);
                });
            }
        }
    }
</script>

<style scoped>

</style>